<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<header>
	<span><h1>Mini<br> Factory</h1></span>
	<img src="mountain-range-front.png">
</header>
<main class="relative">

</main>
</body>
</html>